.gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 20px 17px;
	margin: 47.25px 0 67px;
}

@media (max-width:1024px) {
	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width:588px) {
	.gallery {
		grid-template-columns: 1fr;
		width: 88.2%;
		margin: 0 auto;
		gap: 20px 0;
	}
}

