.gallery__title {
	margin: 0;
	font-size: 24px;
	font-weight: 900;
	line-height: 29.05px;
	text-overflow: ellipsis;
  white-space: nowrap;
	overflow: hidden;
	max-width: 184px;
}

@media (max-width: 1260px) {
	.gallery__title {
		max-width: 167px;
	}
}