.popup-place__btn {
    border: 0;
    background: #000;
    color: #fff;
    padding: 4.5%;
    cursor: pointer;
    border-radius: 2px;
    font-size: 18px;
    line-height: 21.78px;
}

.popup-place__btn:hover {
    opacity: .8;
    transition: .3s linear;
}

@media (max-width:320px) {
    .popup-place__btn {
        font-size: 14px;
        line-height: 16.94px;
    }
}