.page-container {
	width: 61.12%;
	margin: 0 auto;
}

@media (max-width:872px) {
	.page-container {
		width: 80%;
	}
} 

@media (max-width:768px) {
	.page-container {
		width: 80%;
	}
} 

@media (max-width:425px) {
	.page-container {
		width: 100%;
	}
}

