.popup__btnclose {
  position: absolute;
  right: -48px;
  top: -48px;
  cursor: pointer;
  border: 0;
  background: initial;
  padding: 0;

}

.popup__btnclose:focus {
  outline: none;
}

#popup-img__close {
    right: -26%;
}

@media (max-width:1024px) {
    #popup-img__close {
        right: -45%;
    }
}

@media (max-width:768px) {
    #popup-img__close {
        right: -24%;
    }
}

@media (max-width:535px) {
	.popup__btnclose {
    right: 0px;
    top: -50px;
    width: 45px;
	}
    #popup-img__close {
        right: 0;
    }
}

@media (max-width:421px) {
    #popup-img__close {
        right: -28%;
    }
}



@media (max-width:320px) {
	.popup__btnclose {
    top: -33px;
    width: 26px;
    right: 0;
	}
    #popup-img__close {
        right: -41%;
    }
}

/**,*::before,*::after {*/
/*    outline: 1px solid red;*/
/*}*/
