.profile__btn {
	border: 1px solid #fff;
	background: inherit;
	margin-left: 18px;
	cursor: pointer;
	transition: .5s linear;
	height: 24px;
}

.profile__btn:hover {
	opacity: .6;
	transition: .3s linear;
}

@media (max-width: 320px) {
	.profile__btn {
		height: 18px;
		width: 18px;
		font-size: 0;
		padding: 0;
	}
}
