.profile__section {
	display: flex;
	align-items: center;
}

@media (max-width: 640px) {
	.profile__section {
		margin-bottom: 36px;
	}
}

@media (max-width: 425px) {
	.profile__section {
		display: block;
	}
}