.popup__close {
  
}

.popup__close:hover {
  opacity: .6;
  transition: .3s linear;
}

@media (max-width:425px) {
	.popup__close {
    width: 45px;
	}
}

@media (max-width:320px) {
	.popup__close {
    width: 26px;
	}
}