.popup-img__close {
    position: absolute;
    right: -27%;
    top: -9%;
    cursor: pointer;
}

@media (max-width: 425px) {
    .popup-img__close {
        width: 26px;
        right: -43%;
        top: -12%;
    }
}