.gallery__text {
	background-color: #fff;
	display: flex;
	padding: 25px 15px 30px 21px;
	justify-content: space-between;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	height: 40px;
}